# Deploy a node on a separate server. Role=punch or Role=relay.
Role=relay
ControlUrl=https://vpn.example.com
# For relay, use RelayNodeKey. For punch, use PunchNodeKey.
NodeKey=CHANGE_ME
MaximumConnections=1000
